body {
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: white;
  z-index: 3;
}
.sticky {
  position: fixed;
  top: 0%;
}
.logo {
  font-family: "Futura PT medium";
}
.logo-end {
  color: #ad4844;
}
.header__logo {
  text-align: center;
  font-size: 4.5vw;
  margin: 5px 0px 5px 5%;
}
.header__logo a {
  text-decoration: none;
  color: black;
}
.header__logo a :visited {
  text-decoration: none;
}
.header__logo :hover {
  text-decoration: none;
}
.header__logo a :active {
  text-decoration: none;
}
.navigation {
  flex: 1;
  display: flex;
}
.navigation__list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 5px 0px;
}
.navigation__list-element {
  list-style: none;
  font-size: 2.5vw;
  line-height: 20.51px;
  font-family: "Futura PT Book";
  font-weight: 450;
  position: relative;
}
.navigation__list-element a {
  text-decoration: none;
  color: black;
}
.navigation__list-element a :visited {
  text-decoration: none;
}
.navigation__list-element a :hover {
  text-decoration: none;
  font-family: "Futura PT heavy";
}
.navigation__list-element a :active {
  text-decoration: none;
}

.navigation__list-element:hover {
  font-family: "Futura PT heavy";
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(17, 17, 17, 1);
  bottom: 15%;
  right: 0%;
}

@media (min-width: 650px) and (max-width: 1200px) {
  .header__logo {
    flex: 1;
    font-size: 29px;
    margin: 15px 0px;
  }
  .navigation__list-element {
    font-size: 16px;
  }
  .navigation__list {
    width: 351px;
    margin: 15px 0px;
  }
  .navigation {
    flex: 1.5;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    flex: 1;
    font-size: 29px;
    margin: 15px 0px;
  }
  .navigation__list-element {
    font-size: 16px;
  }
  .navigation__list {
    width: 351px;
    margin: 15px 0px;
  }
  .navigation {
    flex: 1.5;
  }
}
