.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 10%;
  padding-bottom: 30%;
}
.ingredients__headline {
  font-family: "Futura PT book";
  font-size: 8vw;
  background: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.ingredients__headline::after {
  content: "";
  width: 55%;
  height: 1px;
  background: rgba(17, 17, 17, 1);
  position: absolute;
  bottom: -40%;
  right: 23%;
}
.ingredients__lesser-headline {
  font-family: "Futura PT book";
  font-size: 6vw;
  text-align: center;
}
.ingredients__list-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 75%;
}

.ingredients__list {
  padding-left: 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}
.ingredients__element {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.ingredients__element:hover > .ingredients__element-name::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 1);
  position: absolute;
  bottom: -10%;
  right: 0%;
}
.ingredients__img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  position: absolute;
  right: 27%;
  bottom: 0%;
}
.ingredients__img-wrapper img {
  width: 100%;
  height: 100%;
}
.ingredients__img-button {
  width: 40%;
  min-height: 5%;
  height: 5vw;
  bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0.35em 1.2em;
  background: rgba(173, 72, 68, 1);
  border: none;
  font-family: "Futura PT bold";
  color: rgba(246, 246, 246, 1);
  text-align: center;
  line-height: 25.64px;
  font-size: 2vw;
  padding: 0px;
}

.ingredients__element-circle {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background: rgba(217, 217, 217, 1);
  visibility: visible;
  margin: 0px;
}
.ingredients__element-name {
  font-family: "Futura PT book";
  font-size: 6vw;
  margin: 0px;
  position: relative;
}

.ingredients__element-info {
  font-family: "Futura PT book";
  font-size: 3.5vw;
  margin: 0px;
}
.ingredients__element-measurement {
  font-family: "Futura PT book";
  font-size: 3.5vw;
  margin: 0px;
}
.ingredients__dog-img {
  width: 50%;
  position: absolute;
  bottom: -1.3%;
  z-index: -1;
}
@media (min-width: 650px) and (max-width: 1200px) {
  .ingredients__list {
    grid-template-columns: auto auto;
  }
  .ingredients__headline {
    font-size: 48px;
    line-height: 61.54px;
  }
  .ingredients__lesser-headline {
    font-size: 31px;
    line-height: 39.74px;
  }
  .ingredients__element-name {
    font-size: 31px;
    line-height: 39.74px;
    margin-bottom: 10px;
  }
  .ingredients__element-info {
    font-size: 20px;
    line-height: 25.64px;
  }

  .ingredients__element-measurement {
    font-size: 20px;
    line-height: 25.64px;
  }
  .ingredients__element-circle {
    width: 70px;
    height: 70px;
  }
  .ingredients__element {
    gap: 30px;
  }
  .ingredients__element:hover > .ingredients__element-name::after {
    bottom: -20px;
  }
  .ingredients__dog-img {
    width: 400px;
    position: absolute;
    bottom: -2.5%;
    z-index: -1;
  }
}

@media (min-width: 1200px) {
  .ingredients {
    padding: 0 0;
    padding-bottom: 630px;
  }
  .ingredients__list-wrapper {
    padding-bottom: 0px;
    margin-top: 80px;
  }
  .ingredients__list {
    gap: 60px;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  .ingredients__element {
    width: 417px;
  }

  .ingredients__img-wrapper {
    width: 40%;
    right: 29.5%;
    bottom: 20%;
  }
  .ingredients__img-wrapper img {
  }
  .ingredients__img-button {
    width: 171px;
    height: 46px;
    font-size: 20px;
  }
  .ingredients__headline {
    font-size: 48px;
    line-height: 61.54px;
  }
  .ingredients__lesser-headline {
    font-size: 31px;
    line-height: 39.74px;
  }
  .ingredients__element {
    gap: 30px;
  }
  .ingredients__element:hover > .ingredients__element-name::after {
    bottom: -20px;
  }
  .ingredients__element-name {
    font-size: 31px;
    line-height: 39.74px;
    margin-bottom: 10px;
  }
  .ingredients__element-info {
    font-size: 20px;
    line-height: 25.64px;
  }
  .ingredients__element-measurement {
    font-size: 20px;
    line-height: 25.64px;
  }
  .ingredients__element-circle {
    width: 70px;
    height: 70px;
  }
  .ingredients__dog-img {
    width: 945px;
    height: auto;
    position: absolute;
    bottom: -5.4%;
  }
}
@media (min-width: 1500px) {
  .ingredients__list {
    justify-content: space-around;
  }
  .ingredients__img-wrapper {
    width: 38%;
    right: 31%;
    bottom: 5%;
  }
}
