.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ingredients__headline {
  font-family: "Futura PT book";
  font-size: 48px;
  line-height: 61.54px;
  background: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ingredients__lesser-headline {
  font-family: "Futura PT book";
  font-size: 31px;

  line-height: 39.74px;
  text-align: center;
}
.ingredients__list-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 450px;
}

.ingredients__list {
  padding-left: 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: space-around;
  width: 100%;
  gap: 60px;
}
.ingredients__element {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
}
.ingredients__img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  position: absolute;
  right: 27%;
  bottom: 0%;
}
.ingredients__img-wrapper img {
  width: 100%;
  height: 100%;
}
.ingredients__img-button {
  width: 30%;
  height: 5%;
  bottom: 5%;
  position: absolute;

  background: rgba(173, 72, 68, 1);
  border: none;
  font-family: "Futura PT bold";
  color: rgba(246, 246, 246, 1);
  text-align: center;
  line-height: 25.64px;
  font-size: 10px;
}

.ingredients__element-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 1);
  visibility: visible;
  margin: 0px;
}
.ingredients__element-name {
  font-family: "Futura PT book";
  font-size: 31px;
  line-height: 39.74px;
  margin: 0px;
}
.ingredients__element-info {
  font-family: "Futura PT book";
  font-size: 20px;
  line-height: 25.64px;
  margin: 0px;
}
.ingredients__element-measurement {
  font-family: "Futura PT book";
  font-size: 20px;
  line-height: 25.64px;
  margin: 0px;
}

@media (min-width: 650px) and (max-width: 1200px) {
  .ingredients__list {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1200px) {
  .ingredients__list-wrapper {
    padding-bottom: 0px;
  }
  .ingredients__list {
    grid-template-columns: auto auto;
  }
  .ingredients__element {
    width: 417px;
  }
  .ingredients__img-wrapper {
    width: 35%;
    right: 32.5%;
    bottom: 10%;
  }
  .ingredients__img-wrapper img {
    max-width: 621px;
    max-height: 1102px;
    min-width: 489px;
    min-height: 868px;
  }
  .ingredients__img-button {
    width: 171px;
    height: 46px;
    font-size: 20px;
  }
}
