@font-face {
  font-family: "Futura PT Book";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"),
    url("/fonts/FuturaPT/FuturaCyrillicBook.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"),
    url("/fonts/FuturaPT/FuturaCyrillicLight.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Medium"),
    url("/fonts/FuturaPT/FuturaCyrillicMedium.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"),
    url("/fonts/FuturaPT/FuturaCyrillicDemi.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Heavy"),
    url("/fonts/FuturaPT/FuturaCyrillicHeavy.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"),
    url("/fonts/FuturaPT/FuturaCyrillicBold.woff") format("woff");
}

@font-face {
  font-family: "Futura PT Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Extra Bold"),
    url("/fonts/FuturaPT/FuturaCyrillicExtraBold.woff") format("woff");
}

* {
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.about__main-wrapper {
  display: flex;
  align-items: center;
}
.about__main-wrapper img {
  width: 50%;
}
.about__main-description {
  font-size: 48px;
  line-height: 61.54px;
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Futura PT medium";
}
.about__main-info {
  font-size: 20px;
  line-height: 25.64px;
  color: rgba(17, 17, 17, 1);
  font-family: "Futura PT Book";
}
.about__main-button {
  width: 171px;
  height: 46px;
  padding: 10px 40px;
  gap: 10px;
  background: rgba(48, 171, 76, 1);
  color: rgba(246, 246, 246, 1);
  font-size: 20px;
  line-height: 25.64px;
  border: none;
  cursor: pointer;
  font-family: "Futura PT Heavy";
}
.about__info-wrapper {
  width: 100%;
}
.about__info-headline {
  text-align: center;
  font-size: 48px;
  font-weight: 450;
  line-height: 61.54px;
  background: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Futura PT medium";
}
.about__info-list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  padding-left: 0px;
}

.about__info-element {
  gap: 10px;
  list-style: none;
  text-align: center;
  padding-bottom: 24px;
  width: 60%;
  margin: auto;
}
.about__info-element:hover {
  border-bottom: solid #111111 1px;
}
.about__element-headline {
  font-size: 31px;
  margin: 0 0 10px;
  line-height: 39.74px;
  font-family: "Futura PT book";
}
.about__info-img {
  width: 80%;
  height: auto;

  margin-top: 20px;
}
.about__info {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.64px;
  font-family: "Futura PT Book";
  font-weight: 400;
  margin: 0px;
}

.about__feeding-element {
  display: flex;
  align-items: center;
  margin: 5px 0;
  gap: 20px;
}

.about__feeding-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__feeding-numbers {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  min-width: 46px;
  min-height: 46px;
  border-radius: 50% 50% 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__feeding-numbers p {
  margin: 0px;
}
.about__feeding-info {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.64px;
  font-family: "Futura PT Book";
  font-weight: 400;
}

@media (min-width: 1200px) {
  .about__info-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .about__info-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 20px;
  }

  .about__feeding-list {
    min-height: 6em;
  }
}
