@font-face {
  font-family: "FuturaPT";
  src: url("/fonts/FuturaPT/FuturaCyrillicLight.ttf") format(".ttf");
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__main-wrapper {
  display: flex;
  align-items: center;
}
.about__main-description {
  font-size: 48px;
  line-height: 61.54px;
  background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__main-info {
  font-size: 20px;
  line-height: 25.64px;
  color: rgba(17, 17, 17, 1);
}
.about__main-button {
  width: 171px;
  height: 46px;
  padding: 10px 40px;
  gap: 10px;
  background: rgba(48, 171, 76, 1);
  color: rgba(246, 246, 246, 1);
  font-size: 20px;
  line-height: 25.64px;
  border: none;
  cursor: pointer;
}
.about_info-wrapper {
}
.about__info-headline {
  text-align: center;
  font-size: 48px;
  font-weight: 450;
  line-height: 61.54px;
  background: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__info-list {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.about__info-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: center;
  padding-bottom: 24px;
}
.about__info-element:hover {
  border-bottom: solid #111111 1px;
}
.about__element-headline {
  font-size: 31px;
  font-weight: 450;
  line-height: 39.74px;
  margin: 0px;
}

.about__info {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.64px;
  font-family: "FuturaPT" sans-serif !important ;
}

.about__feeding-element {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.about__feeding-list {
  padding-left: 0px;
}
.about__feeding-numbers {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  width: 46px;
  height: 46px;
  border-radius: 50% 50% 50% 50%;
}
.about__feeding-numbers p {
  margin: 0px;
}
.about__feeding-info {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.64px;
}

@media (min-width: 1024px) {
  .about__info-list {
    gap: 200px;
  }
  .about__info-element {
    width: 417px;
    gap: 50px;
  }
  .feeding {
    width: 312px;
    gap: 50px;
  }
}
